*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
section{
    width: 100%;
}


.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
 
}
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}



.container .card:before{
    content:'';
    position:  absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9bdc28;
    clip-path:  circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;

}

.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.container .card::after{
    content:'';
    position:  absolute;
    top: 30%;
    left: -20%;
font-size: 10em;
font-weight: 800;
font-style: italic;
color: rgba(255,255,255,0.04);

}

.container .card .imgBx{
    position: absolute;
    top: 50%;
    
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}
.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}
.container .card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    width: 200px;

}
.container .card .contentBx{
  position:absolute;
  bottom: 0;
  width: 100%;  
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;

}
.container .card:hover .contentBx{

    height: 210px;


}
.container  .card .contentBx h2{
    position: relative; 
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size{
    display: flex;
    justify-content: center;
    align-items:  center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}
.container .card .contentBx .size h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
.container .card .contentBx .size span{
 
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin:  0 5px;
    transform: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:nth-child(2){
    width:45px;
    height:30px;
   
}
.container .card .contentBx .size span:nth-child(3){
    width:55px;
    height:30px;
   
}
.container .card .contentBx .size span:nth-child(4){
    width:50px;
    height:30px;

}
.container .card .contentBx .size span:hover{

    background: #9bdc28;
}
.buttonClass{
    margin-top: 10%;
 
}
.buttonClass button{
    padding: 2% 5%;
    font-size: x-large;
    border-radius: 20px;
    border: none;
    background: #fff;
    transform: scale(0);
    transition: transform  0.5s ease ;
   

}

.container .card:hover .buttonClass button {
 
    transform: scale(1);
    transition-delay: 0.5s;
}
.buttonClass button:hover{
    background-color: #9bdc28;
}